
:root {
    font-family:'Open Sans';
    background-color: #494949;
    color: white;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

.logo {
    display: flex;
    
    background-color: #6d2632;
    color: white;
}
.WebsiteContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 350px 1fr 50px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #494949;
}
p{
    font-size: 22px;
}
.socials{
    margin-left: auto;
    margin-right: 20px;
}
.socialitem a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-end;
    height: 24px;
    margin-top: 3px;
}
body{
    margin: 0px;
}
.socialitem a img {
    height: 18px;
    margin-right: 7px;
    margin-bottom: 1px;
}
.logoimage{
    width: 100px;
    height: 100px;
}

h1{
    margin-bottom: -20px;
    margin-top: 5px;
    font-weight: 600;
}
body {
    display: grid;
    background-color: black;
}

h2 {
    margin-bottom: -20px;
}
h3{
    font-weight: 400;
}
header{
    display: grid;
    grid-template-rows: 110px 50px 150px;
    grid-template-columns: 100%;
}
.navbar {
    text-align: center;
    justify-content: space-around;
    display: flex;
    background-color: #742d38;
    font-weight: 400;
    align-items: center;
}

#donate {
    background-color: #494949;
    display: flex;
    align-items: center;
}

.donateButton{
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    padding: 15px;
    font-weight: 600;
    color: white;
    background-color: red;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 40px;
    border-style: none;
    box-shadow: 3px 6px #3a3a3a;

}

.navbar a {
    padding: 10px;
    border: 2px;
    border-radius: 7px;
    box-sizing: border-box;
    border-color:  #742d38;
    font-size: 20px;
    color: white;
    text-decoration: none;
    flex-grow: 1;

}
.navbar a:hover{
    font-size: 23px;
    font-weight: 600;
}
footer {
    background-color: #383838;
}